@model GrySwitch.Models.Nagrody

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Nagrody</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NazwaNagrody)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazwaNagrody)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prestiż)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prestiż)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
